@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  background-color: #f9f9fb;
  color: #2a2a33;
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.navbar {
  position: relative;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 1.6rem; }

.navbar__logo-container {
  order: 2; }
  @media screen and (min-width: 992px) {
    .navbar__logo-container {
      order: 1; } }

.navbar__logo {
  width: 52px;
  height: auto; }

.navbar__menu-btn {
  order: 1;
  color: #2a2a33;
  cursor: pointer;
  background: transparent;
  width: 35px;
  height: 35px;
  margin-top: 20px; }
  @media screen and (min-width: 992px) {
    .navbar__menu-btn {
      display: none; } }
  .navbar__menu-btn .bar {
    background-color: #0f4499;
    width: 100%;
    height: 5px;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease; }
    .navbar__menu-btn .bar:first-of-type {
      transform: translateY(-4px); }
    .navbar__menu-btn .bar:last-of-type {
      transform: translateY(4px); }
  .navbar__menu-btn.change .bar:first-of-type {
    transform: translateY(4px) rotateZ(-45deg); }
  .navbar__menu-btn.change .bar:nth-of-type(2n) {
    opacity: 0; }
  .navbar__menu-btn.change .bar:last-of-type {
    transform: translateY(-6px) rotate(45deg); }

.navbar__items-container {
  display: none;
  order: 1; }
  @media screen and (min-width: 992px) {
    .navbar__items-container {
      order: 2;
      display: flex;
      flex-direction: row; } }
  .navbar__items-container li {
    display: inline-block;
    color: #2a2a33;
    margin: 0 10px; }
  .navbar__items-container a {
    color: #0f4499;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-decoration: none;
    padding: 20px 10px;
    cursor: pointer; }
    .navbar__items-container a:visited, .navbar__items-container a:active {
      color: #0f4499; }
    .navbar__items-container a:hover {
      background-color: #f9f9fb; }

.navbar__login-container {
  order: 3; }

.navbar__login--login {
  list-style: none; }
  .navbar__login--login a {
    color: #0f4499;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-decoration: none;
    padding: 20px 10px; }
    .navbar__login--login a:visited, .navbar__login--login a:active {
      color: #0f4499; }
    .navbar__login--login a:hover {
      background-color: #f9f9fb; }

.hero {
  position: relative;
  height: calc(100vh - 5rem);
  background: #000 url(../assets/hero-family.jpg) no-repeat top/cover; }

.hero__cta-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  width: 100%; }

.hero__text-box h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #2a2a33;
  font-size: 3.6rem;
  line-height: 4rem;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .hero__text-box h1 {
      font-size: 4rem;
      line-height: 4.6rem; } }
  @media screen and (min-width: 992px) {
    .hero__text-box h1 {
      font-size: 4.2rem;
      line-height: 5rem; } }

.hero__search-box {
  background-color: #f9f9fb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  margin-top: 30px; }
  @media screen and (min-width: 768px) {
    .hero__search-box {
      max-width: 60%; } }
  @media screen and (min-width: 992px) {
    .hero__search-box {
      max-width: 40%; } }

.hero__search-input {
  flex-basis: 80%;
  border: none;
  height: 100%;
  padding: 10px 0; }
  .hero__search-input input {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    border: none;
    padding: 10px;
    background-color: #f9f9fb; }
    .hero__search-input input::placeholder {
      color: rgba(42, 42, 51, 0.5);
      text-overflow: ellipsis; }

.hero__search-button {
  height: 100%;
  width: auto;
  cursor: pointer; }
  .hero__search-button button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px; }
    .hero__search-button button img {
      transform: scale(0.8); }

.value-prop {
  width: 100%;
  margin-top: 30px;
  padding: 1.6rem; }
  @media screen and (min-width: 768px) {
    .value-prop {
      width: 70%;
      margin: 30px auto;
      padding: 2rem; } }
  @media screen and (min-width: 992px) {
    .value-prop {
      width: 40%;
      margin: 7.2rem auto; } }
  .value-prop h2 {
    text-align: center;
    color: #2a2a33;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.6rem; }
    @media screen and (min-width: 768px) {
      .value-prop h2 {
        font-size: 3.8rem;
        line-height: 4.6rem; } }
    @media screen and (min-width: 768px) {
      .value-prop h2 {
        font-size: 3rem;
        line-height: 3.6rem; } }

.value-prop__line {
  background-color: #ffd237;
  height: 0.2rem;
  width: 14rem;
  margin: 32px auto 40px; }
  @media screen and (min-width: 768px) {
    .value-prop__line {
      margin: 4.2rem auto; } }
  @media screen and (min-width: 992px) {
    .value-prop__line {
      margin: 6.4rem auto; } }

.card-container {
  height: 100%;
  position: relative;
  background: #fff;
  margin: 2rem auto;
  padding: 1.6rem;
  cursor: pointer;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: #d1d1d5 0 0 0.4rem;
  box-sizing: border-box;
  transition: all 300ms ease-in-out 0s; }
  @media only screen and (min-width: 992px) {
    .card-container {
      margin: 0;
      margin-right: 2rem;
      padding: 2.4rem;
      flex-basis: 28rem;
      flex-grow: 2;
      display: inline-block;
      min-height: 520px; }
      .card-container:last-of-type {
        margin-right: 0; } }
  .card-container:hover {
    transform: scale(1.02) translate(0, -8px);
    transition: all 300ms ease-in-out 0s; }
    .card-container:hover::after {
      opacity: 1;
      transition: all 300ms ease 0s; }
    .card-container:hover button {
      background-color: #0f4499;
      color: #fff;
      border-color: transparent; }
  .card-container::after {
    content: '';
    box-shadow: #d1d1d5 0 0.5rem 1.5rem;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0; }

.card-image-container {
  position: relative;
  display: inline-block;
  width: 27.7rem;
  max-width: 50%;
  margin: 0 auto; }
  @media only screen and (min-width: 992px) {
    .card-image-container {
      display: block;
      max-width: 100%; } }
  .card-image-container img {
    height: 18rem;
    border: 0;
    width: 100%; }

.card-text-container {
  max-width: 100%;
  display: block;
  text-align: center;
  padding-top: 2rem; }
  @media only screen and (min-width: 992px) {
    .card-text-container {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      margin-top: 1.6rem;
      text-align: center; } }
  .card-text-container h3 {
    font-family: "Raleway", sans-serif;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 4.2rem;
    margin: 0; }
  .card-text-container p {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin: 1.6rem auto; }

.card-button {
  margin: 1.6rem 0;
  text-align: center;
  padding: 1rem 2rem;
  height: 4.2rem;
  cursor: pointer;
  color: #0f4499;
  background-color: #fff;
  border: 0.1rem solid #a7a6ab;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.2rem; }

.cards-container {
  background-color: #f9f9fb;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  width: 100%;
  max-width: 120rem;
  height: auto;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .cards-container {
      padding: 2rem; } }
  @media screen and (min-width: 992px) {
    .cards-container {
      padding: 3rem;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      margin: 0 auto; } }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.6rem; }

.footer-social__header {
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  text-transform: uppercase; }

.footer-social__links {
  margin: 10px 0 30px; }
  .footer-social__links a {
    display: inline-block;
    margin-right: 10px; }
    .footer-social__links a:last-of-type {
      margin-right: 0; }
    .footer-social__links a:hover {
      border-bottom: #0f4499 2px solid; }

.footer-copyright {
  text-align: center; }

.footer-links {
  margin-top: 8px; }
  .footer-links a {
    text-decoration: none;
    color: #0f4499; }
