@import 'card';

.cards-container {
  background-color: $color-white-secondary;
  display: flex;
  flex-direction: column;
  padding: $padding-screen-sm;
  width: 100%;
  max-width: 120rem;
  height: auto;
  text-align: center;

  @media screen and (min-width: $screen-md) {
    padding: $padding-screen-md;
  }

  @media screen and (min-width: $screen-lg) {
    padding: $padding-screen-lg;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
