.card-container {
  height: 100%;
  position: relative;
  background: #fff;
  margin: 2rem auto;
  padding: 1.6rem;
  cursor: pointer;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: #d1d1d5 0 0 0.4rem;
  box-sizing: border-box;
  transition: all 300ms ease-in-out 0s;

  @media only screen and (min-width: $screen-lg) {
    margin: 0;
    margin-right: 2rem;
    padding: 2.4rem;
    flex-basis: 28rem;
    flex-grow: 2;
    display: inline-block;
    min-height: 52rem;
    &:last-of-type {
      margin-right: 0;
    }
  }

  &:hover {
    transform: scale(1.02) translate(0, -8px);
    transition: all 300ms ease-in-out 0s;

    &::after {
      opacity: 1;
      transition: all 300ms ease 0s;
    }

    button {
      background-color: $color-brand-primary;
      color: $color-white-primary;
      border-color: transparent;
    }
  }

  &::after {
    content: '';
    box-shadow: rgb(209, 209, 213) 0 0.5rem 1.5rem;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.card-image-container {
  position: relative;
  display: inline-block;
  width: 27.7rem;
  max-width: 50%;
  margin: 0 auto;

  @media only screen and (min-width: $screen-lg) {
    display: block;
    max-width: 100%;
  }

  img {
    height: 18rem;
    width: 100%;
    border: 0;
  }
}

.card-text-container {
  max-width: 100%;
  display: block;
  text-align: center;
  padding-top: 2rem;

  @media only screen and (min-width: $screen-lg) {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-top: 1.6rem;
    text-align: center;
  }

  h3 {
    font-family: $font-family-heading;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 4.2rem;
    margin: 0;
  }

  p {
    font-family: $font-family-body;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin: 1.6rem auto;
  }
}

.card-button {
  margin: 1.6rem 0;
  text-align: center;
  padding: 1rem 2rem;
  height: 4.2rem;
  cursor: pointer;
  color: $color-brand-primary;
  background-color: $color-white-primary;
  border: 0.1rem solid #a7a6ab;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.2rem;
}
