*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10px
}

body {
  font-size: 1.6rem;
  background-color: $color-white-primary;
  color: $color-black-secondary;
  font-family: $font-family-body;
  font-weight: $weight-normal;
}

.mt6 {
  margin-top: 6rem !important;
}

.mb6 {
  margin-bottom: 6rem !important;
}
