.hero {
  position: relative;
  height: calc(100vh - 5rem);
  background: #000 url(../assets/hero-family.jpg) no-repeat top / cover;
}

.hero__cta-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem;
  width: 100%;
}

.hero__text-box {
  h1 {
    font-family: $font-family-heading;
    font-weight: $weight-bold;
    color: $color-black-secondary;
    font-size: 3.6rem;
    line-height: 4rem;
    text-align: center;

    @media screen and (min-width: $screen-md) {
      font-size: 4rem;
      line-height: 4.6rem;
    }

    @media screen and (min-width: $screen-lg) {
      font-size: 4.2rem;
      line-height: 5rem;
    }
  }
}

.hero__search-box {
  background-color: $color-white-primary;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  margin-top: 3rem;

  @media screen and (min-width: $screen-md) {
    max-width: 60%;
  }

  @media screen and (min-width: $screen-lg) {
    max-width: 40%;
  }
}

.hero__search-input {
  flex-basis: 80%;
  border: none;
  height: 100%;
  padding: 1rem 0;

  input {
    width: 100%;
    font-family: $font-family-body;
    font-size: 1.6rem;
    border: none;
    padding: 1rem;
    background-color: $color-white-primary;

    &::placeholder {
      color: rgba(42, 42, 51, 0.5);
      text-overflow: ellipsis;
    }
  }
}

.hero__search-button {
  height: 100%;
  width: auto;
  cursor: pointer;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 1rem;

    img {
      transform: scale(0.8);
    }
  }
}
