// SCREEN SIZES
$screen-md: 768px;
$screen-lg: 992px;

// COLORS
$primary-bg-color: #f9f9fb;
$secondary-bg-color: #0f4499;
$primary-text-color: #2a2a33;

// FONTS
$font-family-heading: 'Raleway', sans-serif;
$font-family-body: 'Roboto', sans-serif;
$weight-light: 300;
$weight-normal: 400;
$weight-bold: 700;

// PADDINGS
$padding-screen-sm: 1.6rem;
$padding-screen-md: 2rem;
$padding-screen-lg: 3rem;
