// SCREEN SIZES
$screen-md: 768px;
$screen-lg: 992px;

// COLORS
$color-brand-primary: #143556;
$color-white-primary: #ffffff;
$color-white-secondary: #f9f9fb;
$color-black-primary: #000000;
$color-black-secondary: #2a2a33;

// FONTS
$font-family-heading: 'Raleway', sans-serif;
$font-family-body: 'Roboto', sans-serif;
$weight-light: 300;
$weight-normal: 400;
$weight-bold: 700;

// PADDINGS
$padding-screen-sm: 1.6rem;
$padding-screen-md: 2rem;
$padding-screen-lg: 3rem;
